CREATE TABLE IF NOT EXISTS \"alpine-home\".popups (
    id bigint PRIMARY KEY,
    title text NOT NULL,
    is_active boolean DEFAULT true,
    dealer_only boolean DEFAULT false,
    image_path text NOT NULL,
    hide_days integer DEFAULT 1,
    link_url text
);
GRANT SELECT ON \"alpine-home\".popups TO anon, authenticated;

